<div class="container" style="margin-top: 100px;">
  <div class="row d-grid gap-3 justify-content-center">

    <div class="card testimonial-card mt-2 mb-3">
      <div class="card-up aqua-gradient"></div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Hi! {{user.username}}</h4>
        <hr>
        <p>email: {{user.email}}</p>
        <hr>
        <p>role: {{user.role}}</p>
      </div>
    </div>

    <div class=" card testimonial-card mt-2 mb-3">
      <div class="card-up aqua-gradient"></div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">More options</h4>
        <a href="/usuarios" class="btn btn-dark">Back to cheack all users</a>
        <hr>
        {{#if isMY}}
        <a href="/usuarios/{{user._id}}/editar" class="btn btn-warning">Edit
          my profile</a>
        <a href="/recetas/crear" class="btn btn-success">Create recipe</a>
        <a href="/recetas/mis-recetas" class="btn btn-info" aria-current="page">My recipes</a>
        {{/if}}

        {{#if isAdmin}}
        <a href="/events/create" class="btn btn-dark">Create event</a>
        <form action="/usuarios/{{user._id}}/eliminar" method="POST" style="display: inline">
          <input type="submit" value="Delete this user" class="btn btn-danger" />
        </form>

        {{/if}}

      </div>
    </div>
  </div>
</div>









</section>
</div>




{{!-- <div class="row">

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hi!{{user.username}}</h5>
        <hr />
        <p>email: {{user.email}}</p>
        <p>role: {{user.role}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">More options</h5>
        <hr />
        <a href="/usuarios" class="btn btn-dark">Back to cheack all users</a>

        <hr>

        {{#if isMY}}
        <a href="/recetas/crear" class="btn btn-dark">Create recipe</a>
        <a href="/usuarios/{{user._id}}/editar" class="btn btn-warning">Edit
          my profile</a>
        <a href="/recetas/mis-recetas" class="btn btn-dark" aria-current="page">Mis recetas</a>

        {{/if}}

        {{#if isAdmin}}
        <form action="/usuarios/{{user._id}}/eliminar" method="POST" style="display: inline">
          <input type="submit" value="Delete this user" class="btn btn-danger" />
        </form>
        {{/if}}
      </div>
    </div>
  </div>

</div> --}}